body {
    width: 100%;
}

.Quantty_input{
    margin: 0%;
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 24px;
    height: 23px;
    font: 21px/1.2 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    margin-top: 5PX;
    background-clip: padding-box;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 24px;
    height: 23px;
    font: 21px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    margin-top: 5PX;
    background-clip: padding-box;
}

.minus:hover{
    background-color: #e9bc90 !important;
}
.plus:hover{
    background-color: #e9bc90 !important;
}

.minus{
    background-color: #B08B66 !important;
}
.plus{
    background-color: #B08B66 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.count{  
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}
         
.qty{

margin-top: 1rem!important;

border: solid 1px #C4C4C4;

width: 121PX;

margin-left: 174PX;

padding-top: 4PX;

padding-bottom: 4PX;
}

.delet_btn{

    border-radius: 360PX !important;
    border: solid 0px;
    width: 30px !important;
    margin-top: 23px !important;

}

.Subtotal{
    display: flex;
    justify-content: flex-end;
}


.Checkout_btn{
    background-color: #B08B66;
    font-size: 20px !important;
    color: white;
    margin-top: 15px;
}

.row_product{
background-color: #EDEDED;
height: 30px;
}

.contener_itm{
    margin: 4% 4% 0%;
}

.white{
    background-color: #ffff;

}




.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.text-center{

    padding-left: 50px;
    padding-right: 50px;
}

.text-center input{

width: 100%;
}

.text-center label{
    text-align: left;
    }

    .form-card{
        padding: 0% 17%;
    }
    #cars{
        height: 45PX;
    padding-left: 11px;
    }

    .container-fluid {
        width: 94% !important;
 
    }