.valide{
    text-align: center;
    background-color: #EDEDED;
}
.valide h3{
    padding-bottom: 4%;
    font-size: 150%;
}
.valide h1{
font-size: 242%;
}
.valide p{
    color: #787878;
}
.valide span{
    margin: 1%;
}
.valide .bx{
    color: #008f00;
    font-size: 70px;
    padding: 38px 9px 12px 16px;
}
